
# site libs
django==3.2.*
whitenoise==5.2.0
gunicorn==20.0.4
psycopg2==2.8
dj-database-url
python-decouple

# basics
requests

# others
Pillow==6.*
pyproj==2.*

# cdsw needs a particular version of opencv to work
opencv-python-headless==4.2.0.32

# custom libs
mapocr @ git+https://github.com/karimbahgat/mapocr
maponyms @ git+https://github.com/karimbahgat/maponyms
transformio @ git+https://github.com/karimbahgat/transformio
